name: update

on:
  push:
    paths:
      - ".github/workflows/update.yml"
  pull_request:
    paths:
      - ".github/workflows/update.yml"
  repository_dispatch:
      types: [update-wheelyard]
  workflow_dispatch:

jobs:

  upload:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      -
        name: Install dumb-pypi
        run: |
          python -m pip install dumb-pypi
          mainfile="$(python -c 'from dumb_pypi import main; print(main.__file__)')"
          patch ${mainfile} << EOF
          --- main.py.orig  2022-10-30 14:56:28.996162000 +0100
          +++ main.py       2022-10-30 14:56:28.996162000 +0100
          @@ -118,6 +118,9 @@
                   """Sort key for a filename."""
                   return (
                       self.name,
          +            tuple(int(x) for x in
          +                  re.search(r"^(py|cp)([2-3])(\d+)?", self.filename.split("-")[2]).groups()[1:]
          +                  if x is not None),
                       self.parsed_version,
                       # sort wheels first
                       not self.filename.endswith('.whl'),
          EOF
      -
        name: Install SSH key
        uses: shimataro/ssh-key-action@develop
        with:
          key: ${{ secrets.REMOTE_KEY }}
          known_hosts: ${{ secrets.KNOWN_HOSTS }}
      -
        name: Build static site
        run: |
          mkdir build && cd build
          ssh -q ${{ secrets.REMOTE_USER }}@${{ secrets.REMOTE_HOST }}        \
              '/bin/ls ${{ secrets.REMOTE_ROOT }}/pypi/pool' > packages.txt
          dumb-pypi                                                           \
              --package-list packages.txt                                     \
              --packages-url https://pylegacy.org/pypi/pool/                  \
              --output-dir pypi                                               \
              --title wheelyard                                               \
              --no-generate-timestamp
          sed -i '
              s|^\([ ]*\)\(h1 {\)$|\1\2\n\1    color: white;\n\1    font-family: courier;|g
              s|background-color: #e6f8ff;|background-color: black;|g
              ' pypi/index.html
      -
        name: Sync static site
        run: |
          rsync -avP                                                          \
              build/pypi/                                                     \
              ${{ secrets.REMOTE_USER }}@${{ secrets.REMOTE_HOST }}:${{ secrets.REMOTE_ROOT }}/pypi/
